.App {
  text-align: center;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

canvas {
  display: block;

}

.App-title {
  background-color: white;
  font-size: calc(10px + 2vmin);
  color: black;
}

